@import "tailwindcss";

@theme {
  --color-base: #b8cbe6;
  --color-text: #000;
  --color-mantle: #97a7bd;
  --color-crust: #fff;
  --color-surface0: #dde4ee;
  --color-surface1: #fcfcfc;
}
@variant dark {
  @theme {
    --color-base: #1e1e2e;
    --color-text: #fff;
    --color-mantle: #181825;
    --color-mantle1: #1c1c2c;
    --color-crust: #11111b;
    --color-surface0: #313244;
    --color-surface1: #45475a;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
